<button routerLink="">
  <i class="fa-solid fa-backward"></i>
  <span>Go back</span>
</button>
<div class="movies-container">
  <div class="movies-container__movie" *ngFor="let movie of movieList$ | async">
    <div class="movies-container__title">{{ movie.Title }}</div>
    <div class="movies-container__year">{{ movie.Year }}</div>
    <div class="movies-container__poster">
      <img src="{{ movie.Poster }}" alt="" />
    </div>
    <div class="movies-container__buttons">
      <button type="button">
        <span>Add Review</span>
        <i class="fa-sharp fa-solid fa-comment-plus"></i>
      </button>
      <button class="movies-container__buttons__info">
        <i class="fa-solid fa-info"></i>
      </button>
    </div>
    <button class="movies-container__delete" (click)="deleteMovie(movie.id)">
      <i class="fa-solid fa-trash"></i>
      <span>Delete</span>
    </button>
  </div>
</div>
