<h2>Find the movie</h2>
<input
  type="text"
  [formControl]="search"
  [(ngModel)]="movieName"
  placeholder="Movie name..."
/>
<button type="button" #searchButton>Search</button>
<div *ngIf="movie$ | async as movie" class="movies">
  <div>
    The movie was released {{ date.getFullYear() - +movie.Year }} years ago
  </div>
  <div>{{ movie.Actors | extractNames }}</div>
  <!-- <div *ngFor="let country of countries$ | async">
    <img src="{{ country.flagUrl }}" alt="" />
    <div>{{}}</div>
  </div> -->
</div>
<hr />
<app-sum-up></app-sum-up>
